<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://edglob.ai/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/blistabloc/ed.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://edglob.com/" target="_blank">Edglob</a>
        </div>
        <p>Edglob is an international education & learning platform that offers similair intreaction between teachers and students as in real life. </p>
      </figcaption>
    </div>

    
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://ctci.ai/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/blistabloc/blistabloc.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://ctci.ai/" target="_blank">Cyber Threat Counter Intel</a>
        </div>
        <p>CTCI is the only company in the world focused on CVE Actionable Threat Intel Actionable Intelligence that allows you to make an immediate difference to your security posture. Unlike our competitors who rely on keyword mentions on websites such as Twitter and Github, CTCI leverages our custom cognitive reasoning machine learning in our wide and targeted collections capabilities to provide accurate, easy-to-use, and actionable intelligence. </p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic">
        <a href="https://versenation.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/screentime/f.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://versenation.com" target="_blank">Verse Nation</a>
        </div>
        <p>Music streaming service where you will be getting the world of music at your fingertips. Artists can license, create, and inspire all kinds of music. This streaming service is also a MARKETPLACE for artists to generate income like never before. We have created a way for artists to make more money while their fans pay less.</p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://about.hrdatabank.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/interventions/interventions.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://about.hrdatabank.com/" target="_blank">HRDatabank</a>
        </div>
        <p>Interactive and dynamic marketing web application for HRDatabank IT lab.</p>
      </figcaption>
    </div>
  </div>
</section>
