<section class="section other-projects">
  <div class="section__title">Other Projects</div>
  <div class="section__content">
    {% for project in site.data.other-projects %}
    <div class="project">
      <div class="project__name">
        <a href="{{project.url}}" target="_blank" class="arrow-link">{{project.name}}</a>
      </div>
      <p>{{project.description}}</p>
      <div class="project__used">
        {% for item in project.used %}
        <span class="project__used__item">{{item.thing}}</span>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</section>
 
<section class="section other-projects">
  <div class="section__title">Recommendations</div>

  <div class="section__content">
    <div class="project">
      <div class="project__name" style="display: inline-grid;">
        <a href="" target="_blank" >Bobby Denis: Edglob Product Manager</a>
        <img src="{{site.baseurl}}/img/featured/interventions/5stars.png" alt="" style="max-width: 17% !important;">
      </div>
      <p>With Sed its direct no fuss clear and efficient, he know his things and not need to repeat 5 times to get it right! Quite smooth provider make it clear first, translate it in code and UI and deliver what's he's promise and beyond.</p>
    </div>

    <div class="project">
      <div class="project__name" style="display: inline-grid;">
        <a href="" target="_blank" >Pete Peterson: Dib Stuff CEO</a>
        <img src="{{site.baseurl}}/img/featured/interventions/5stars.png" alt="" style="max-width: 17% !important;">
      </div>
      <p>Well done! Very impressed with his communication and going beyond. I look forward to the next project.</p>
    </div>

    <div class="project">
      <div class="project__name" style="display: inline-grid;">
        <a href="" target="_blank" >Michael Freeman: CTCI CEO</a>
        <img src="{{site.baseurl}}/img/featured/interventions/5stars.png" alt="" style="max-width: 17% !important;">
      </div>
      <p>Sed, worked on a very complex project. He was able to impress us with his work quality. Amazing working with Sed. He is a create communicator. We gave him some very hard projects to do. And he was able to pull it off.</p>
    </div>

    <div class="project">
      <div class="project__name" style="display: inline-grid;">
        <a href="" target="_blank" >Fahmi Nechba: RidePull CEO</a>
        <img src="{{site.baseurl}}/img/featured/interventions/5stars.png" alt="" style="max-width: 17% !important;">
      </div>
      <p>Fast professional delivery exactly how I wanted it. Very detailed and organized work. Thanks for being so kind and respectful! I definitely recommend his services.</p>
    </div>

    <div class="project">
      <div class="project__name" style="display: inline-grid;">
        <a href="" target="_blank" >Aniya Betts: Verse Nation Project Manager</a>
        <img src="{{site.baseurl}}/img/featured/interventions/5stars.png" alt="" style="max-width: 17% !important;">
      </div>
      <p>Sed is Great, he is very capable of a lot. I love how motivated he is, it was great working with him.</p>
    </div>

    <div class="project">
      <div class="project__name" style="display: inline-grid;">
        <a href="" target="_blank" >Lamont Davis: Verse Nation CEO</a>
        <img src="{{site.baseurl}}/img/featured/interventions/5stars.png" alt="" style="max-width: 17% !important;">
      </div>
      <p>Sed is very professional and hands down one of the best backend developers. I look to hire him for many more projects to come, his skillset is great and hes a breeze to work with. I definitely recommend him.</p>
    </div>
  </div>
</section>
  